<style>
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #659EC7;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 20%;
  height: 400px; /* only for demonstration, should be removed */
  background-color: #95B9C7;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}
main {
  float: left;
  width: 80%;
  height: 400px; /* only for demonstration, should be removed */
  background-color: #F7F9F9;
  padding: 20px;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #659EC7;
  padding: 10px;
  text-align: center;
  color: white;
}
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .main {
    width: 60%;
  }
}
</style>
